.group-107 {
  align-items: flex-end;
  display: flex;
  margin-left: 40px;
  min-width: 60px;
}

.ellipse-7 {
  height: 16px;
  object-fit: cover;
  width: 16px;
}

.price {
  letter-spacing: 0.24px;
  margin-left: 8px;
  min-height: 15px;
  min-width: 34px;
}

.group-107.group-107-1 {
  margin-left: 38px;
}

